header {
    text-align: center;
    background-color: skyblue;
    font-size: 50px;
    margin-bottom: 100px;
    
}

.cities {
    background-color: lightgray;
}

.styleCard {
    background-color: skyblue;
    margin: 0px 5px;
    float: left;
}